In [12]:
a=int(input("Enter a number"))
print('The table of :', a,':-')
for i in range(1,11):
      print(a,'X',i,'=',a*i)

Enter a number8
The table of : 8 :-
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [19]:
a=int(input("Enter a number"))
print('Sum of the numbers from 1 to ',a)
sum=0
for i in range(1,a+1):
    sum=sum+i  
print(sum)

Enter a number3
Sum of the numbers from 1 to  3
6

In [20]:
a=int(input("Enter a number"))
print('Sum of the numbers from 1 to ',a)
sum=(a*(a+1))/2
print(int(sum))

Enter a number3
Sum of the numbers from 1 to  3
6

In [38]:
a=int(input("Enter a number "))
factor=1
if a<0:
    print("Plz enter a valid number to get the factorial value")
elif a==0 :
    print("Factorial value of 0 is 1")
else:    
    for i in range(1,a+1):
        factor=factor*i
    print(int(factor))

Enter a number 3
6

In [45]:
mnth=input("Enter the month ")
sale=int(input("Enter the total sale of the month "))
if mnth=="January" or mnth=="March" or mnth=="May" or mnth=="July" or mnth=="August" or mnth=="October" or mnth=="December" or  mnth=="january" or mnth=="march" or mnth=="may" or mnth=="july" or mnth=="august" or mnth=="october" or mnth=="december" :
    avgsl=sale/31
    print(avgsl)
elif mnth=="February":
    avgsl=sale/28
    print(avgsl)
else:
    avgsl=sale/30
    print(avgsl)

Enter the month february
Enter the total sale of the month 325648
10854.933333333332

In [47]:
import os
os.getcwd()

'C:\\Users\\Birachi'